.blog-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-height: 34rem;
    overflow-y: scroll;
    margin-top: 6rem;
    padding: 2em;

    border-radius: 10px;
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(61% 81% at 45% 47%, #0C0A1A45 2%, #123EFD00 100%), radial-gradient(113% 91% at 17% -2%, #2A1C1CFF 1%, #FF000000 100%), radial-gradient(142% 91% at -6% 74%, #020001FF 1%, #FF000000 100%), radial-gradient(142% 91% at 111% 84%, #180606FF 98%, #080500FF 200%);
}

@media(max-width: 1024px){
    .blog-container{
        width: auto;
    }
}